/1010.jpg
/123.jpg
/279619889_1454309511689452_6117319426223520137_n.jpg
/567.jpg
/ABSTRACT.docx
/admin page.jpeg
/Asset Handover.pdf
/bgvb.txt
/Biz project PPT.txt
/burpxx
/Burp_Suite_Professional_-_licensed_to_trial_user_[single_user_license].txt
/case study.pdf
/Cisco Packet Tracer.lnk
/Cloud computing.docx
/cloud-computing-overview-iaas-paas-saas.png
/Complaint Detail.html
/Cryptocurrency ppt.pptx
/cybrary-cert-introduction-to-it-and-cybersecurity.pdf
/cybrary-cert-palo-alto-networks-secure-business-systems-administration-v1.pdf
/desktop.ini
/device.jpg
/e4j265zugxeta0eb2jcky3fgy74ysn.oastify.com.png
/Ecommerce.docx
/elevate community TCS.txt
/Environmental-Sustainability-Policy.pdf
/EZWVWd6UEAAwkGv.jpg_large
/Finance Session Notes TCS.txt
/firewall.png
/flow chart.jpg
/ftp.html
/G.Tushar resume Edited.docx
/Gokul's flow chart.jpg
/gokul.pkt
/Grammarly.lnk
/Green marketing full paper final (2).docx
/gsign.png
/hackerone code.txt
/I2CS__1_.png
/iawz4l3t0zpbjzf2x1mj4rgz5qbgz5.oastify.com.png
/Idea Presentation Format - SIH 2022  - College.pptx
/Impact of E-Commerece in COVID-19.pptx
/ip.jpg
/Kishorekumar P.pdf
/KMPlayer.lnk
/Knowledge Assessment.png
/Knowledge Course.png
/learn-unlearn-relearn-slide2 edited.png
/learn-unlearn-relearn-slide2.png
/max_security.txt
/Moulieswaran - Chrome.lnk
/networking.png
/NSR E-Card.pdf
/original_1651600351_Salary_Account_-_Easy_to_Access_v3.pdf
/OSI LAYERS ,PURPOSE and FUNCTIONS.pptx
/patch managemrnt.png
/poc.txt
/profile.jpeg
/report.png
/Resume July 2022.docx
/rev.txt
/Reverse KT.pdf
/sampath updated1.pdf
/school.py
/Screenshot 2022-03-10 140246.png
/Screenshot 2022-06-24 133723.png
/Screenshot 2022-06-24 133746.png
/Screenshot 2022-06-24 195809.png
/Screenshot 2022-06-26 153952.png
/Screenshot 2022-06-29 104511.png
/Screenshot 2022-07-06 124908.png
/Screenshot 2022-07-19 192328.png
/Screenshot 2022-08-04 201327.png
/sign.png
/SIH ppt.pptx
/SIH-Format-2022-O (1).docx
/Software Testing Certificate.jpg
/Software Testing Course Certificate.pdf
/TCoC_2015_EN.pdf
/TCS DT ID.txt
/TCS Q&A.txt
/TCS.txt
/vapt e book.pdf
/Visual Studio Code.lnk
/Zoom.lnk
/~$Cloud Computing.pptx
/~$Idea Presentation Format - SIH 2022  - College.pptx